<div class="container">

  <% if current_user%>
    <p style="color: grey">You're currently logged in as <a href ="/userpage"><%=current_user.name%></p></a>
  <%else%>
  <p style="color: grey">You're not logged in</p>
<%end%>

  <h1> Air Bae 'N Bae (beta)</h1>

  <h4>Login to update your property listings!</h4>

    <form action="/login" method = "post">
     Email : <input type="text" name="login[email]">
     Password : <input type="password" name="login[password]">
     <input type="submit" value="login">
    </form>

     <p style="text-align: center">Don't have an account? <a href="/signup"><b>Make one now!</b></a></p>

     <p style="text-align: center">Ain't got time for that? Explore all our listings below!</p>

     
  <% unless @listings.empty? %>    
 <table border=1>
      <tr style="background-color: #5ea9de">
        <th>Title</th>
        <th>Description</th>
        <th>Posted On</th>
       </tr>
        <% @listings.each do |listing|%>
        <tr>
        <td><a href = "/listings/<%= listing.id%>"><%= listing.title%></a></td>
        <td><%=listing.description%></td>
        <td><%=listing.created_at.day%>/<%=listing.created_at.month%>/<%=listing.created_at.year%></td>
       </tr>
         <% end %>
         <% else%>
         <h4 style="text-align: center">..unfortunately there are no listings yet, <a href="/signup">signup</a> to start posting!</h4>
       <%end%>
    </table>



    <p style="text-align: center">Looking for a place by location or LTR access? Search accomodation by tags.</p>
    
    <% @tags.each do|tag| %>
    <a href ="/tags/<%=tag.category%>" class="tags" style="text-align: center";><%= tag.category %></a>
    <%end%>
</div>

