<div class="container">
<a href ="/"><p><b>Air Bee 'N Bee' (beta)</b></p></a>
<h1><%= @listing.title%></h1>
<h4>Posted by <%=@listing.user.name%> at <%=@listing.created_at%></h4>
<p><a href="/listings/<%= @listing.id%>/book"><button style="background-color:#f15928;">Book Now</button></a></p>
<p><%= @listing.description%></p>
<h4>Tags related to this listing:</h4>
<% @categories_arr.each do|tag| %>
<a href="/tags/<%=tag%>" style="display: inline;"><%=tag%></a>
 <%end%>
</ul>

<p><a href="/listings/<%= @listing.id%>/edit"><button style="background-color:#8ccc96">Edit</button></a></p>
<p><a href="/listings/<%= @listing.id%>/delete"><button style="background-color:#efeaf4">Delete</button></a></p>

</div>