<div class="container">
<%if current_user == @listing.user %>
<p><a href="/listings/<%= @listing.id%>/edit"><button class = "edit">Edit</button></a></p>
<p><a href="/listings/<%= @listing.id%>/delete"><button class ="delete">Delete</button></a></p>
<%end%>

  <% if current_user%>
    <p style="color: grey">You're currently logged in as <a href ="/userpage"><%=current_user.name%></p></a>
  <%else%>
  <p style="color: grey">You're not logged in</p>
<%end%>
<a href ="/"><p><b>Air Bae 'N Bae</b></p></a><a href="/listings/<%= @listing.id%>/book"><button class="book">Book Now</button></a></p>
<h1><%= @listing.title%></h1><p>
<h4>Posted by <%=@listing.user.name%> at <%=@listing.created_at%></h4>
<p style="text-align: center;"><%= @listing.description%></p>
<h4>Tags related to this listing:</h4>
<% @categories_arr.each do|tag| %>
<a href="/tags/<%=tag%>" class="tags"><%=tag%></a>
 <%end%>
</ul>
</div>