<div class="container">

<form action="/logout" method="get" class="logout">
<input type="submit" value="logout">
</form>

<a href ="/"><p>Air Bae 'N Bae</p></a>

<h1><%= @user.name.capitalize %>'s Dashboard</h1>

  <p style="text-align: center">Got a place to rent? Create a new listing now!</p>

  <form action="/listings/user" method="post">
  <p><b>Give It A Title: </b><input type="text" name="new[title]" placeholder="Awesome possum crib"></p>
  <p></p><textarea name="new[description]" rows="10" cols="60" placeholder="Your place needs a useful description! Is it comfy or spacious? What about access to LRT? Tell us more!"></textarea>
  <h4>What makes your place special? Add them as tags!</h4>
 <p><input type="text" name="tag" placeholder = "e.g. condo, gym, pool" multiple></p>
  <p><input type="submit" value="It's Now For Rent!"></p>
  </form>


  <h3>Here are all your listings:</h3>
  <% unless @listings.empty? %> 
    <table align = "center">
      <tr style="background-color: #5ea9de">
        <th>Title</th>
        <th>Description</th>
        <th>Posted on</th>
        <th>Booked?</th>
       </tr>

        <% @listings.each do |listing|%>

        <tr>
        <td><a href = "/listings/<%= listing.id%>"><%= listing.title%></a></td>
        <td><%=listing.description%></td>
        <td><%=listing.created_at.day%>/<%=listing.created_at.month%>/<%=listing.created_at.year%></td>
        <td><%=listing.booked ? listing.booking_count.to_s + ' Booking' : 'Nope' %></td>
       </tr>
         <% end %>
         <%else%>
         <p style="text-align: center">..nothing yet.</p>
       <%end%>
    </table>

  <h3>Here are properties you want to rent:</h3> 
  <table>
  <tr style="background-color: #5ea9de">
    <th>Title</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
  </tr>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </table>

</div>